<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div id="add-column">
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter your name"
                    name="name" required>
                </div>

                <div class="form-group">
                    <label for="creatorTextField">Teacher</label>
                    <input type="text" class="form-control"
                    id="creatorTextField"
                    placeholder="Enter teacher's name"
                    name="creator" required>
                </div>

                <div class="form-group">
                    <label for="genresTextField">Schedule</label>
                    <input type="text" class="form-control"
                    id="genresTextField"
                    placeholder="Enter day & hours of course"
                    name="genres" required>
                </div>

                <div class="form-group">
                    <label for="episodesTextField">Classroom</label>
                    <input type="text" class="form-control"
                    id="episodesTextField"
                    placeholder="What room is this class in?"
                    name="episodes" required>
                </div>

                <div class="form-group">
                    <label for="certificationTextField">Grade</label>
                    <input type="text" class="form-control"
                    id="certificationTextField"
                    placeholder="Enter your grade in this course"
                    name="certification" required>
                    <br>
                </div>

                
                </div>
                <br>
                <button class="btn btn-success" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/tvlist" class="btn btn-danger">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>
</div>



<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>